
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
  <h1>Welcome users</h1>
</div>




<div>

    <lable>Enter your Title:</lable>
    <input name="Title" id="Title" type="text" placeholder="Enter your Title" />
    <br /><br />
    <lable>Enter your Description:</lable>
    <input name="Description" id="TaskDescription" type="text" placeholder="Enter your Description" />
    <br /><br />
    <lable>Enter your Task Deadline:</lable>
    <input name="Deadline" id="Deadline" type="datetime" placeholder="yyyy-MM-dd" />
    <br /><br />
    <button id="submit" name="submit">ADD</button>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

       
        $('#submit').click(
        function(){

            debugger;
            var Title=$('#Title').val();
            var TaskDescription=$('#TaskDescription').val();
            var TaskDeadline=$('#Deadline').val();
            
         
           
            $.ajax({
                type:'POST',
                url:'/Todolist_task/ReceiveData',
                contentType: 'application/json',
                data:JSON.stringify({
                    Title:Title,
                    TaskDescription:TaskDescription,
                    TaskDeadline:TaskDeadline,
                }),
                success:function(response){
                    alert(response.message);
                    console.log(Role);
                    window.location.href = response.redirectUrl;
                },
                 error: function(){
                alert('Error occured');
            }
            
            });
        });



    </script>
}
<p>
    <a asp-action="Index">database</a>
</p>